<div class="main-page">
 <h1> Give us a fucking URL (lazy bastard) </h1>

 <form action="/url" method="POST">
  <label>type your long-ass url here: <input type="text" placeholder="http://www.yourwebsite.com/somethingorother" style="width:500px; height:20px;"></label>
  <label> <input type = "submit">
 </form>
</div>
